@import 'color';
@import 'fuente';
@import 'h2';


*{
    font-family: $fuenteBody;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 4rem;
    p{
        font-weight: bold;
    }
    .menu{
        display: flex;
        list-style: none;
        .nav{
            margin-left: 0.8rem;
            margin-right: 0.8rem;
        }
    }
}
main{
    .section1{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        .left{
            max-width: 40rem;
            h2{
                background-color: $bg-primary;
                width: 22rem;
                margin-top: 1.6rem;
                font-family: $fuenteH2;
                font-size: $font-sizeH2;
                letter-spacing: $letter-spacingH2;
                line-height: $line-heightH2;
            }
            p{
                width: 35rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                line-height: 2rem;
                color: rgb(129, 129, 129);
            }
            .button{
                background-color: $bg-primary;
                padding: 1.5rem;
                border: 1px black dotted;
                border-radius: 7px;
                margin-right: 1rem;
                margin-top: 1rem;
            }
        }
        .right {
            width: 30rem;
            .img{
                width: 100%;
            }
        }
    }
    .section2{
        display: flex;
        justify-content: center;
        .card{
            background-color: $bg-secondary;
            max-width: 20rem;
            height: 17rem;
            margin: 1rem;
            border-radius: 10px;

            .circule{
                text-align: center;
                box-sizing: content-box;
                border: 1px solid;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                padding: 0.5rem;
                margin: 0.5rem;
                box-shadow: -3px 0px 0px $bg-primary;
            }
            h3{
                margin-left: 1rem;
                margin-top: 0.4rem;
            }
            .parrafo{
                margin-left: 1rem;
                margin-top: 0.2rem;
                margin-right: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: space-around;
    .fa-copyright{
        margin-right: 0.2rem;
    }
    .fa-facebook-f, .fa-instagram, .fa-twitter{
        padding: 0.5rem;
        box-shadow: -3px 0px 0px $bg-primary;
        border-radius: 50%;
        margin-left: 1rem;
    }
}


