header {
    text-align: center;
}

body .colorfondo {
    background-color: aqua;
}
.a {
    background-color: aqua;
    height: 60px;

}

footer{
    background-color: #2205;
    text-align: center;
}
