html{
    background-color: beige;
}
#foto{
    box-shadow: 0 2px 5px;
}
header {
    text-align: center;
}

body .colorfondo {
    background-color: aqua;
    box-shadow: 0 2px 5px;
}
#p{
    height: 50px;

}

footer{
    border: 5px double chocolate;
    background-color: #2205;
    text-align: center;
}
