html{
    background-color: beige;
}
header {
    text-align: center;
}

body .colorfondo {
    background-color: aqua;
    box-shadow: 0 2px 5px;
}
h1 #p .colorfondo{
    height: 60px;

}

footer{
    background-color: #2205;
    text-align: center;
}
